<style>
  .yulunr {
    text-indent: 2rem;
  }
</style>
<div class="dream yuludream">
    <div class="row">
        <!-- 王小波语录开始 -->
        <div class="col l12 m12 s12 text datext">
            <!-- 福袋按钮 -->
            <div class="caishendeng">        
                <div class="caishenxian fudaixian">
                    <img class="caishenpic fudai" src="/medias/spring-img/fudai.png" />
                </div>              
            </div>
            <div class="title center-align">
              《质数的孤独》
            </div>
            <div class="yulunr">越长大，越觉得孤独竟是生命的必然，每个人都是质数列中孤单却特别的存在。或许，说不上特别，也就算个普普通通，再或者说，用＂普通＂都夸张了些。我们都是那孤独的质数，我们都承受着质数的孤独。——保罗·乔尔达诺 《质数的孤独》</div>
        </div>
        <!-- 王小波语录栏结束 -->
    </div>
</div>
